.container{
	width:1170px;
	margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #FEAFC3;
    
}

header{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
}

.site-navigaton{
    display: flex;
}
.header-logo{
    width: 10%;
}
.header-nav{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-login{
    width: 40%;
    justify-content: space-around;
}

#navigator{
    text-decoration: none;
    color:black;
    margin-left: 10%;
}    

.site-navigaton{
    list-style-type:  none;
    justify-content: space-evenly;
}

.header-login{
    display: flex;
    justify-content: left;
    align-items: center;
}

.number{
    top: calc(50% - 20px/2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
	background: rgba(252,252,252, 0.3);
    width: 32px;
    height: 32px;
    left: 8px;
    top: 2px;
    border-radius:26px;
}


.header-img-login{
    display: flex;
	background: rgba(252,252,252, 0.3);
    width: 92px;
    height: 32px;
    border-radius:26px;
    margin-left: 5%;
    justify-content: center;


}
.header-img{
    width: 20%;
}

.login-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
    color:black;
    width: 34px;
    height: 20px;
    margin-left: 4%;
    
}


.basket{
    display: flex;
	background: rgba(252,252,252, 0.3);
    width: 92px;
    height: 32px;
    border-radius:26px;
    margin-left: 5%;
    justify-content: center;
}

.basket-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
    color:black;
    width: 34px;
    height: 20px;
    margin-left: 4%;
    
}

.basket-img{
    width: 20%
}


/*  Слайдеры */

.feature-item-one{
	display: flex;
}

.feature-item-text{
	display: flex;
	width: 40%;
	text-align: inherit;
	vertical-align: top;
	padding: 5%;
	
}

.feature-item-texts{
	margin: auto;
}

.feature-item-texts h2{
	font-size: 36px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	color: #2D3440;
	line-height: 46px;

}

.feature-item-texts p{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.button-color{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FCFCFC;
	width: 139px;
	height: 44px;
	left: 168px;
	top: 476px;
	border: 4px solid rgba(252, 252, 252, 0.4);
	box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
	border-radius: 26px;
	background-clip: content-box;
	
}	

.button-color .button{
	
	vertical-align: middle;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	color: #2D3440;

}


/* ЦЕНТРАЛЬНАЯ НАДПИСЬ ПОСЛЕ СЛАЙДЕРОВ */

.main-text{
	margin-left: auto;
	margin-right: auto;
	width: 443px;
	height: 92px;
	left: 461px;
	top: 738px;
}

.main-text h3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 46px;
	text-align: center;
	color: #2D3440;
}

.discount-block{
	display: flex;
	justify-content:space-between;
	margin-top: 56px;
}

.discount-block-one{
	justify-content: center;
	display: flex;
	width: 570px;
	height: 268px;
	left: 98px;
	top: 886px;
	border-radius: 16px;
	background-color: #FF7799;
}

.discount-block-one h4{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 10px;
}

.discount-block-one {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.discount-block-one .button{
	
	background: #FCFCFC;
	border: 4px solid rgba(252, 252, 252, 0.4);
	box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
	border-radius: 26px;
	width: 176px;
	height: 44px;
	text-align: center;
	background-clip: content-box;
}

.text-block-one{
	margin: 17px;
}

.button-order{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 44px;
	text-decoration: none;
	color: #2D3440;
}

.Img-raspberries{
	padding-top: 28px;
}

.Img-marshmallow{
	padding-top: 19px;
}

.main-select{
	margin-left: 322px;
	margin-right: 321px;
}

.main-select h3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 46px;
	text-align: center;
	color: #2D3440;
}

.main-items{
	display: flex;
}

.main-item{
	width: 270px;
	height: 332px;
	position:relative;
}

.main-item-text{
	text-align: center;
	width: 270px;
	height: 281px;
	background:#FCFCFC;
	border-radius: 8px;
	position: absolute;
	bottom: 0px;
}
.main-item-text-img{
	position: relative;
	margin-top: -51px;
}

.main-item-text h4{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	margin: auto;
}

.text-main{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}


/* Превью */

.preview{
	display: flex;
	width: 1170px;
	height: 480px;
	background: url(/Img/Вафля_фон.svg);
	border-radius: 16px;
	margin-top: 80px;
}

.preview-section{
	width: 1122px;
	height: 432px;
	background: #FCFCFC;
	margin: auto;
}

.preview-header{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 46px;
	text-align: center;
	margin:56px 64px;
}

.preview-texts{
	display: grid;
	grid-template-columns: repeat(auto-fit,502px);
	height: 172px;
}

.preview-block{
	width: 506px;
	height: 62px;
	display: flex;
}

.preview-text{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #565C66;
}